html,
body,
.root,
#__next {
  font-family: Montserrat, sans-serif;
}
.bold-text {
  font-weight: 600;
}
.error {
  color: #c5362c;
}

button {
  padding: 10px 30px;
  border-radius: 5px;
  border-style: none;
  font-weight: 600;
  &.action {
    color: white;
    background: rgba(15, 148, 251, 1);
    background: -moz-linear-gradient(
      top,
      rgba(15, 148, 251, 1) 0%,
      rgba(18, 110, 193, 1) 100%
    );
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(15, 148, 251, 1)),
      color-stop(100%, rgba(18, 110, 193, 1))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(15, 148, 251, 1) 0%,
      rgba(18, 110, 193, 1) 100%
    );
    background: -o-linear-gradient(
      top,
      rgba(15, 148, 251, 1) 0%,
      rgba(18, 110, 193, 1) 100%
    );
    background: -ms-linear-gradient(
      top,
      rgba(15, 148, 251, 1) 0%,
      rgba(18, 110, 193, 1) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(15, 148, 251, 1) 0%,
      rgba(18, 110, 193, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f94fb', endColorstr='#126ec1', GradientType=0 );
    &:disabled {
      background: #636363;
    }
  }
}
